html {
    text-align: center;
    padding: 2rem;
}

.featureed-item-card {
    width: 500px;
    height: 600px;
    margin: 0 auto;
} 

img {
    max-width: 300px;
    margin: 0 auto;
    height: auto;
}

Button {
    background-color: gray;
}