table, th, td {
  border: 1px solid;
}

.job-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.job-option input[type='radio'] {
  margin-right: 10px;
}

.job-description {
  margin-left: 10px;
}

.large-text-wrap {
  inline-size: 500px; 
}

/* TODO: Add your primary and secondary styling below! */
.primary-button {
  border: white;
  background-color: rgb(26, 218, 26);
  border-radius: 6px;
  padding: 4px;
}

.secondary-button {
  border: rgb(16, 213, 55);
  padding: 2px 6px;
  border-radius: 6px;
}